.container{
    position: relative;
}
table {border: none;}
.left{
    float: left;
    width: 60%;
}
.right{
    float:right;
    width: 10%;
    text-align: right;
}
h1{
    font-size: 2rem;
}
.iconSXU{
    background: url('../../assets/iconSXU.gif');
    
    display: none;
    position: absolute;
    
    background-repeat: no-repeat;
    left: 80%;
    bottom:250px;
    transform: translateY(5rem);
    overflow: hidden;
    background-size: cover;
    border: none;
    float: right;
    
}
.iconUIC{
    background: url('../../assets/iconUIC.png');
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    left: 80%;
    bottom:5rem;
    transform: translateY(5rem);
    overflow: hidden;
    background-size: cover;
    border: none;
    float: right;
    
}

@media screen and (min-width: 624px){
    .iconSXU{
        display: block;
        width: 10rem;
        height: 10rem;
        left: 32rem;
    }
    .iconUIC{
        display: block;
        width: 10rem;
        height: 10rem;
        left: 32rem;
    }
    
  }
