header{
    height: 50vh;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
}
.jobTitle{
    color: white;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
}
.icon{
    font-size: 3rem;
    
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}
.myName{
    font-size: 4rem;
}
/*CTA*/
.cta{
    margin-top: -3rem;
    display: flex;
    gap:1.2rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 30%;
    margin-top: .5rem;
}
/*img*/
.me{
    background: linear-gradient(var(--color-primary));
    width: 11rem;
    height: 14rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100% ;
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
